html {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(#e8e1d9, #66806a);
}

.nav ul {
  margin: 0;
  padding: 1em;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav a {
  color: #fff;
  padding: .5em;
  border-radius: 1em;
  text-decoration: none;
  background-color: #1c1c1c;
}

a:hover {
  background-color: #66806a;
}

footer article {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div img {
  width: 100%;
}

@media only screen and (min-width: 38rem) {

  body {
    display: grid;
    grid-template-areas:
      "banner banner banner"
      "main main main"
      "footer";
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  article {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: flex-end;
    align-items: center;
  }

  div img {
    width: 100%;
  }

  a:hover {
    background-color: #66806a;
  }

}
